:root{
    --green: #76d594;
}
body{
    background-color: var(--green);
    display: grid;
    place-items: center;
}
.game-class{
    margin-top: 20px;
    display: flex;
    place-items: center;
    gap: 14px;
}
.inactive{
    display: none;
}
.game-container{
    box-shadow: 16px 1px 52px #3b6749;
    background-color: white;
    width: 485px;
    height: 600px;
    border-radius: 15px;
    padding: 20px;
}
.mesages-container{
    background-color: white;
    width: 30vw;
    height: 620px;
    border-radius: 15px;
    padding: 10px;
}
.canva{
    border: 1px solid var(--green);
        margin-bottom: 40px;
    background-color: white;
    border-radius: 20px;
    margin-left: 15px;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 30px;
}
.btns button{
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    border-style: none;
    padding: 30px;
    transition: 1s ease;
}
.btns button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow:  20px 20px 60px #76d594,
                -20px -20px 60px #76d594;
    animation-delay: 1s;
    
}

.messages{
    padding: 10px;
}
.messages p{
    color: var(--green);
}
/*CHAT*/
#comments-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .comment-container {
    border: solid 1px #91a8c2;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: var(--green);
  } 
  .responses-container {
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .responses-container .comment-container {
    background-color: #cde0d3;
    border: 3px solid white;
    color: white;
  }
  .input {
    padding: 5px 15px;
    border: solid 1px var(--green);
    margin: 5px 0;
  }
  
  button {
    border-radius: 5px;
    border: none;
    background-color: #eee;
    padding: 5px 15px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #1c6fc2;
    color: white;
  }
@media (max-width: 600px) {
    .game-class{
        display: flex;
        flex-direction: column;
    }
    .mesages-container{
        width: 340px;
        height: 200px;
    }
    .game-container{
        width: 340px;
        height: 400px;
    }
    .btns{
        width: 200px;
    }
    .btns{
        gap: 10px;
        margin-left: 70px;
    }
    .btns button{
        background-color: transparent;
        padding: 20px;
        border: 1px solid var(--green);
    }
}